{% extends "base.html" %}

{% block content %}
  <h1>
    {{ car.model }}
  </h1>
  <p><strong>Manufacturer: </strong>{{ car.manufacturer.name }} ({{ car.manufacturer.country }})</p>
  <h3>Drivers
  {% if user.is_authenticated %}
    {% if user in car.drivers.all %}
      <a href="{% url 'taxi:remove_me' car.pk %}" class="btn btn-danger mt-3 float-right align-self-center">
      Delete me from this car
      </a>
    {% else %}
      <a href="{% url 'taxi:assign_me' car.pk %}" class="btn btn-success mt-3 float-right align-self-center">
      Assign me to this car
      </a>
    {% endif %}
  {% endif %}
  </h3>
  <hr>
    {% for driver in car.drivers.all %}
      <p><strong>User name: </strong>{{ driver.username }}</p>
      <p><strong>Full name: </strong>{{ driver.first_name }} {{ driver.last_name }}</p>
      <p><strong>License number: </strong>{{ driver.license_number }}</p>
    {% endfor %}
  <hr>
  <br>
    <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger">
      Delete
    </a>

    <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary">
      Update
    </a>

{% endblock %}
